#Example file used to override .env variables. For example: connect to production.
APP_NAME=Boilerplate
APP_ENV=prod
APP_KEY=9b788098e1d6e5d69ddfe05ca7b4bc28
APP_DEBUG=false
APP_URL=http://localhost:8888

DATABASE_USER=root
DATABASE_PASS=_T~Fw*4cat
DATABASE_ROOT_PASS=_T~Fw*4cat
DATABASE_HOST=mysql01.dev1.byside-nos.local
DATABASE_PORT=3306
DATABASE_NAME=webcareDEV1
DATABASE_VERSION=5.7
DATABASE_URL=mysql://${DATABASE_USER}:${DATABASE_PASS}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?serverVersion=${DATABASE_VERSION}

#REDIS_DSN=127.0.0.1:8001
