global
    pidfile     /var/run/haproxy.pid
    maxconn     400000
    user        root
    group       root
    daemon

    nbproc 1
    nbthread 2
    cpu-map auto:1/1-2 0-1

defaults
    timeout connect 5s
    timeout client  5s
    timeout server  60s
    timeout tunnel  3600s

listen stats
    bind 0.0.0.0:9000
    mode http
    stats enable
    stats uri /admin?stats
    stats refresh 15s
    stats show-legends

## byside-symfony-restapi-boilerplate app
listen byside-symfony-restapi-boilerplate
    bind 0.0.0.0:10000
    mode http
    option httplog
    use-fcgi-app byside-symfony-restapi-boilerplate
    server byside-symfony-restapi-boilerplate01 byside-symfony-restapi-boilerplate:9000 proto fcgi check

fcgi-app byside-symfony-restapi-boilerplate
    log-stderr global
    docroot /app/public/index.php
    index index.php
    path-info ^(/.+\.php)(/.*)?$
